header{

background-color: aquamarine;
height: 100px;
width: 100%;
border-radius: 10px;
margin-bottom: 20px;

font-family: 'Oswald', sans-serif;


}

nav{
    padding: 10px;
    background-color: rgb(219, 166, 236);
    height: 25px;
    width: 40%;
    border-radius: 50%  / 10% ;
}

#container
{
display:flex;

}

aside{
    padding: 40px;
    background-color: rgb(134, 219, 247);
    height: 200px;
    width: 20%;
    border-radius: 10px;
    margin-bottom: 20px;
    border-radius: 10% / 50%;
}

main{
    padding: 40px;
    background-color: rgb(246, 153, 172);
    height: 700px;
    width: 80%;
    border-radius: 5% / 7%;
}

footer{
    background-color: rgb(246, 245, 153);
    height: 50px;
    width: 100%;
}